@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* header */
.header {
	height: 10vh;
	background: #3d6600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header a {
	text-decoration: none;
	font-size: 1.25rem;
	color: white;
}

/* initial sign in page */
.initial-sign-in-page-section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('farmer.jpg');
	background-size: cover;
}

.initial-sign-in-page-section p {
	color: #E5E5E5;
	cursor: pointer;
}

.farmer-sign-in-button {
	height: 4rem;
	width: 30rem;
	margin-bottom: 1rem;
	background: #3d6600;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	color: white;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	outline: none;
}

.shopper-sign-in-button {
	height: 4rem;
	width: 30rem;
	margin-bottom: 1rem;
	background: #E5E5E5;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.25rem;
	color: #202020;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	outline: none;
}

/* farmer sign in page */

.farmer-and-shopper-sign-in-page-section {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.farmer-and-shopper-sign-in-page-section h2 {
	margin-bottom: 2rem;
	font-size: 2rem;
	color: #202020;
}

.farmer-and-shopper-sign-in-page-section p {
	color: #3d6600;
	cursor: pointer;
}