@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* header */
.header {
	height: 10vh;
	background: #3d6600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header a {
	text-decoration: none;
}

.header a h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #FFFFFF;
}

/* header with log out */

.header-with-log-out {
	height: 10vh;
	background: #3d6600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-with-log-out div {
	width: 1050px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-with-log-out div a {
	text-decoration: none;
}

.header-with-log-out div a h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #FFFFFF;
}

.log-out {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.log-out:hover {
	opacity: 0.9;
}

/* initial sign in page */
.initial-sign-in-page-section {
	height: 90vh;
	background-image: url('farmer.jpg');
	background-size: cover;
	background-position: center;
}

.initial-sign-in-page-section div {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.initial-sign-in-page-section div h2 {
	margin-bottom: 32px;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: #FFFFFF;
}

.farmer-sign-in-button {
	height: 66px;
	width: 515px;
	margin-bottom: 16px;
	background: #3d6600;
	border: none;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
}

.shopper-sign-in-button {
	height: 66px;
	width: 515px;
	margin-bottom: 16px;
	background: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #202020;
	cursor: pointer;
	outline: none;
}

.initial-sign-in-page-section div a {
	text-decoration: none;
}

.initial-sign-in-page-section div a p {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

/* farmer sign in page */
.farmer-and-shopper-sign-in-page-section {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.farmer-and-shopper-sign-in-page-section h2 {
	margin-bottom: 32px;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: #4D4D4D;
}

.farmer-and-shopper-sign-in-page-section a {
	text-decoration: none;
}

/* for some reason i need an important tag, maybe look into? something to do with specificity */
.sign-in-error {
	font-size: 14px !important;
	color: red !important;
}

.farmer-and-shopper-sign-in-page-section p {
	font-family: 'Roboto', sans-serif;
	color: #3d6600;
}

/* form */
.form {
	display: flex;
	flex-direction: column;
}

.input-container {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.input-container label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
}

.input-container input {
	height: 46px;
	width: 515px;
	padding: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	outline: none;
}

.input-container input::placeholder {
	font-size: 14px;
	color: #C4C4C4;
}

/* added button spacing, might remove later, don't know how i feel about it */
.button-spacing {
	margin-top: 16px;
}

.error {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: red;
}

/* farmer homepage */
.homepage-container {
	max-width: 1050px;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.homepage-container div:first-child {
	margin-bottom: 50px;
}

.homepage-row {
	display: flex;
	justify-content: space-between;
}

.homepage-row a button {
	height: 300px;
	width: 500px;
	background: #F7F7F8;
	border: none;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.13);
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #4D4D4D;
	cursor: pointer;
	outline: none;
	transition: all ease-in-out 300ms;
}

.homepage-row button:hover {
	transform: scale(1.05);
}

/********************************* FARMER INVENTORY PAGE **************************************************/

.inventory-container {
    max-width: 515px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory-container h2 {
    margin-bottom: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
    color: #545454;
}

.inventory-form  {
	width: 100%;
	margin-bottom: 64px;
}

.inventory-form div {
    display: flex;
    justify-content: space-between;
}

.inventory-form div input {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4D4D4D;
	outline: none;
}

.inventory-form div input::placeholder {
	font-size: 16px;
	color: #C4C4C4;
}

.quantity-input {
    height: 56px;
    width: 65px;
    padding: 1rem;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

/* to remove arrows on quantity input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.item-name-input {
	height: 56px;
	width: 320px;
	padding: 1rem;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.add-button {
    height: 56px;
    width: 65px;
    background-color: #4D4D4D;
    border: none;
    border-radius: 5px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color: #FFFFFF;
	cursor: pointer;
}

.add-button:hover {
	opacity: 0.9;
}

.inventory-error {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: red;
}

.table {
    height: 40px;
    width: 100%;
	background: #3D6600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table div {
	width: 80%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-contents {
    width: 100%;
	background: #FFFFFF;
}

/* play around with width percentage */
.table-row {
    height: 50px;
    width: 80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: #4D4D4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-pen {
	margin-right: 8px;
	cursor: pointer;
}

.fa-trash {
	cursor: pointer;
}

.edit-item-name-input {
	height: 32px;
	width: 160px;
	padding: 8px;
	border: 1px solid #C4C4C4;
    border-radius: 5px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4D4D4D;
}

.edit-quantity-input {
	height: 32px;
	width: 48px;
	padding: 8px;
	border: 1px solid #C4C4C4;
    border-radius: 5px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4D4D4D;
}

.save-changes-button {
	height: 66px;
	width: 515px;
	margin-top: 64px;
	background: #3d6600;
	border: none;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
}

/********************************* SHOPPER HOMEPAGE **************************************************/

.shopper-homepage-container {
	max-width: 515px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.shopper-homepage-container h2 {
	margin-bottom: 32px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #4D4D4D;
}

.farm-container {
	width: 100%;
}

.farm-row {
	background: #FFFFFF;
	margin-bottom: 16px;
	padding: 16px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.farm-row div:first-child h3{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #4D4D4D;
}

.farm-row div:first-child p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #4D4D4D;
}

.farm-row div:last-child {
	display: flex;
	flex-direction: column;
}

.farm-row div:last-child p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
}

.farm-row div:last-child p:first-child {
	font-weight: 500;
}

.farm-row div:last-child a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #3d6600;
}

/********************************* SHOPPER VIEW INVENTORY **************************************************/

.shopper-view-inventory-container {
	max-width: 515px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shopper-view-inventory-container a {
	margin-bottom: 16px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #3d6600;
}

.shopper-view-inventory-container h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #4D4D4D;
}

.shopper-view-inventory-container h3 {
	text-align: center;
	margin-bottom: 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #4D4D4D;
}

.products {
	width: 100%;
	margin-bottom: 32px;
}

.product-row {
	margin-bottom: 32px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product-row img {
	height: 150px;
}

.product-row div p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #4D4D4D;
}

.product-row div p:first-child {
	font-weight: 500;
}

/**************** go back button component ****************/

.go-back-container {
	width: 515px;
	margin: 0 auto;
	margin-top: 16px;
}

.go-back-container:hover {
	opacity: 0.9;
}

.go-back-container i {
	margin-right: 5px;
	font-size: 18px;
	color: #3D6600;
}

.go-back-container a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #3D6600;
}